/public/js
/resources/assets/js
/resources/assets/sass
/public/css
/resources/views/welcome.blade.php
/resources/views/home.blade.php
/resources/views/auth
/app/Http/Controllers/HomeController.php
/vendor
/node_modules
/public/storage
/.idea
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.phpstorm.meta.php